/* Overwrites */

:root {
  --light-beige: #c4bfb5;
  --light-grey: #d9d9d9;
  --light-offwhite: #e1e2de;
  --light-blue: #91a7a4;

  --med-grey: #828282;
  --med-red: #613e44;
  --med-blue: #2e3f43;
  --med-yellow: #c7944d;

  --dark-black: #0b0b0b;
  --dark-blue: #212936;
  --dark-green: #373d3d;

  --timeline-student: var(--dark-green);

  --white: #ffffff;

  --material-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.bg-light-1 {
  background-color: var(--light-offwhite);
}

.bg-light-2 {
  background-color: var(--light-grey);
}

.bg-projects {
  background-color: var(--light-blue);
}

.bg-resume {
  background-color: var(--light-beige);
}

.bg-footer,
ul.social-buttons li a.bg-footer {
  background-color: var(--light-blue);
}

.bolder {
  font-weight: bolder;
}

* {
  font-family: 'Raleway', sans-serif !important;
}

body {
  min-width: 300px;
}

.btn.btn-primary {
  box-shadow: var(--material-shadow);
  position: relative;
  transition: background-color .3s;
  border: none;
  background-color: var(--med-blue);
  box-sizing: content-box;
  color: var(--light-offwhite);
  padding: 18px 38px;
}

.btn.btn-primary:active,
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background-color: var(--light-offwhite);
  color: var(--med-blue);
}

.in-text-link  {
  color: var(--med-blue);
  text-decoration: underline dotted;
}
.in-text-link:hover {
  color: var(--med-red);
}

#mainNav,
#mainNav.navbar-shrink {
  background-color: var(--med-yellow);
  padding: 0;
}

#mainNav .navbar-brand,
#mainNav.navbar-shrink .navbar-brand,
#mainNav .navbar-brand:hover,
#mainNav .navbar-brand.active,
#mainNav .navbar-brand:focus {
  padding: 0 13px;
  color: var(--white);
  line-height: 24px;
  transition: color .3s, font-size .3s;
}

#mainNav .nav-link {
  transition: color .3s;
}

#mainNav .nav-item .inner {
  padding: 10px 0;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  background-color: var(--white);
  color: var(--med-yellow);
}

#mainNav .navbar-toggler {
  background: transparent;
}

#mainNav .navbar-toggler svg {
  transition: fill .3s ease;
}

#mainNav .navbar-toggler[aria-expanded='true'],
#mainNav .navbar-toggler:hover {
  outline: none;
}

#mainNav .navbar-toggler[aria-expanded='true'] svg,
#mainNav .navbar-toggler:hover svg {
  fill: var(--med-blue);
  outline: none;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

@media (max-width: 991px) {
  #mainNav .container {
    margin: 0;
    max-width: unset;
    width: 100%;
  }
  #mainNav .navbar-bar {
    box-sizing: content-box;
    max-width: 720px;
    padding: 0 calc((100% - 720px) / 2);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #mainNav .nav-item:last-of-type {
    border-bottom: 2px solid var(--med-yellow);
  }
  #mainNav .nav-item .inner {
    padding: 5px 13px;
  }
}

nav svg.menu-icon {
  fill: var(--white);
}

header.masthead {
  background-image: none;
  background-color: var(--med-blue);
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

header.masthead .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  padding-bottom: 100px;
}

header.masthead .container .intro-heading {
  font-size: 40px;
  margin-bottom: 0;
}

.intro-subheading {
  font-size: 28px;
  opacity: 80%;
}

.masthead .container .headshot img {
  border: 3px solid var(--med-blue);
  border-radius: 50%;
  box-sizing: content-box;
  height: 250px;
  margin: 25px;
  opacity: 0;
  transition: opacity 2s ease, box-shadow 1s;
}
.masthead .container .headshot.visible img {
  opacity: 1;
}
.masthead .container .headshot.headshotborder img {
  box-shadow: 0 0 0 3px var(--med-yellow);
}

.responsive-testimonials__title {
  color: var(--dark-black);
}
.responsive-testimonials__title + .responsive-testimonials__subtitle {
  color: var(--med-blue);
}
.responsive-testimonials__desc {
  color: var(--dark-black);
}

.responsive-testimonials__content-body::after {
  color: var(--med-blue);
}

.responsive-testimonials--mq-992.responsive-testimonials--layout-row .responsive-testimonials__item {
  flex-basis: unset;
}

.responsive-testimonials__item:nth-child(odd) {
  animation: slide-in-left 2s ease;
}
.responsive-testimonials__item:nth-child(even) {
  animation: slide-in-right 2s ease;
}
@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
  }
}

.responsive-testimonials__img.tesla-logo {
  margin-top: 5px;
}

.responsive-testimonials__img {
  height: 100%;
  width: 100%;
  padding: 16px;
  object-fit: contain;
}

.responsive-testimonials__desc p {
  line-height: 1.375;
}
.responsive-testimonials__desc p:last-of-type {
  margin-bottom: 0;
}

.responsive-testimonials__img-box {
  background: var(--white);
  border: none;
  box-shadow: var(--material-shadow);
  height: 100px;
  width: 100px;
}

.responsive-testimonials__content {
  background-color: var(--light-offwhite);
  border: none;
  box-shadow: var(--material-shadow);
}

.responsive-testimonials--layout-row .responsive-testimonials__item--layout-order-1 .responsive-testimonials__aside {
  margin-top: 20px;
}

.responsive-testimonials--layout-row .responsive-testimonials__item--layout-order-2.responsive-testimonials__item--align-aside-center .responsive-testimonials__content::before,
.responsive-testimonials--layout-row .responsive-testimonials__item--layout-order-1.responsive-testimonials__item--align-aside-center .responsive-testimonials__content::before {
  display: none;
}
.responsive-testimonials--layout-row .responsive-testimonials__item--layout-order-2.responsive-testimonials__item--align-aside-center .responsive-testimonials__content::after {
  border-color: transparent transparent transparent var(--light-offwhite);
}
.responsive-testimonials--layout-row .responsive-testimonials__item--layout-order-1.responsive-testimonials__item--align-aside-center .responsive-testimonials__content::after  {
  border-color: transparent var(--light-offwhite) transparent transparent;
}

@media (max-width: 509px) {
  .responsive-testimonials__item:not(:first-of-type) {
    margin-top: 20px;
  }
  .responsive-testimonials--layout-row .responsive-testimonials__item--layout-order-1 .responsive-testimonials__aside {
    margin-bottom: 0;
  }
  .responsive-testimonials__item--layout-order-1 .responsive-testimonials__aside {
    order: 1;
  }
  .responsive-testimonials--layout-row .responsive-testimonials__item--layout-order-2.responsive-testimonials__item--align-aside-center .responsive-testimonials__content::after,
  .responsive-testimonials--layout-row .responsive-testimonials__item--layout-order-1.responsive-testimonials__item--align-aside-center .responsive-testimonials__content::after  {
    bottom: -10px;
    left: 50%;
    border-width: 12px 12px 0 12px;
    border-color: var(--light-offwhite) transparent transparent transparent;
    top: unset;
    transform: translateX(-6px);
  }
}

.bg-skills {
  background-color: var(--light-beige);
}
#skills .section-heading {
  margin-bottom: 30px;
}
#skills .skill {
  background-color: var(--med-yellow);
  border-radius: 4px;
  box-shadow: var(--material-shadow);
  color: var(--white);
  display: inline-block;
  padding: 4px 8px;
  margin: 4px;
}

.container {
  z-index: 2;
  position: relative;
}

.page-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-section .container a:hover {
  text-decoration: none;
}

.page-section .container .github-link {
  padding: 10px 20px;
}

.role-date {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--med-blue);
}

.page-section .container h2.section-heading {
  margin-bottom: 5px;
  max-width: 100%;
  word-break: break-word;
  color: var(--med-red);
}

.role-company {
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-green);
  margin-bottom: 20px;
}

.spacing-bottom {
  margin-bottom: 15px !important;
}

.in-text-icon {
  height: 1em;
}

#portfolio .portfolio-item .portfolio-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#portfolio .portfolio-item {
  margin: 25px 0 25px 0;
}

.portfolio-link .gif-container {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.portfolio-link-image {
  height: 100%;
}

.portfolio-link .btn {
  margin-top: 25px;
  margin-bottom: 15px;
}

.portfolio-link-description {
  text-align: left;
}

#resume .btn {
  margin-top: 25px;
  margin-bottom: 50px;
}

.timeline>li {
  min-height: unset;
  margin-bottom: 25px;
}

.timeline .timeline-heading {
  word-break: break-word;
}

.timeline-date,
.timeline-company {
  color: var(--dark-green);
}

.timeline>li .timeline-image {
  width: 20px;
  height: 20px;
  box-sizing: content-box;
  margin: 0;
  transform: translateX(24px);
  background-color: var(--med-red);
}
.timeline-role {
  color: var(--med-red);
  font-weight: 600;
  font-size: 1.2rem;
}


.timeline .timeline-education .timeline-image {
  background-color: var(--timeline-student);
}
.timeline-role-student {
  color: var(--timeline-student);
}

ul.timeline li:last-of-type .timeline-image {
  background-color: var(--white);
}

.timeline-company {
  font-size: 1.2rem;
}

#contact .container {
  position: relative;
  height: 200px;
}
section#contact {
  background-color: var(--med-blue);
  position: relative
}
section#contact::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('../img/speaking.jpeg');
  background-size: cover;
  background-position: center;
  opacity: 80%;
}

footer ul.social-buttons svg {
  transition: color .3s;
  color: var(--med-blue);
  height: 100%;
}

footer ul.social-buttons li a:hover svg,
footer ul.social-buttons li a:active svg,
footer ul.social-buttons li a:focus svg {
  color: var(--light-offwhite);
  cursor: pointer;
}

.timeline-row {
  width: 100%;
}

ul.timeline li .timeline-panel,
ul.timeline li.timeline .timeline-panel,
ul.timeline li.timeline-inverted .timeline-panel {
  padding: 0px 20px;
}

@media (min-width: 768px) {
  .timeline>li {
    margin-bottom: 0px;
  }
  .timeline>li .timeline-image {
    transform: translateX(-50%);
  }
  footer ul.social-buttons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media (max-width: 767px) {
  header.masthead {
    padding-top: 66px;
  }
  header.masthead .container .intro-heading {
    padding-top: 25px;
    font-size: 30px;
    margin-bottom: 0;
  }
  ul.timeline li .timeline-panel,
  ul.timeline li.timeline .timeline-panel,
  ul.timeline li.timeline-inverted .timeline-panel {
    padding-left: 100px;
  }
}

@media (max-width:600px), (max-height:600px) {
  .page-section h2.section-heading {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .container .headshot img {
    height: 200px;
  }
}

@media (max-height:450px) {
  .container .headshot img {
    height: 0px;
  }
}
