/* Overwrites */

* {
  font-family: 'Raleway', sans-serif !important;
}

/* .btn.btn-primary::before {
  position: absolute;
  content: '';
  height: calc(100% + 12px);
  width: calc(100% + 12px);
  top: -6px;
  left: -6px;
  border-width: 3px;
  border-style: solid;
  border-color: #940946;
  border-radius: 8px;
  transition: border-color .3s;
} */
.btn.btn-primary {
  position: relative;
  transition: background-color .3s;
  border: none;
}
h2.btn.btn-primary, h2.btn.btn-primary a {
  transition: background-color .3s;
  color: #fff;
}
.btn.btn-primary:active, .btn.btn-primary:hover, .btn.btn-primary:focus {
  background-color: #3E001B !important;
}
/* .btn.btn-prrimary:active::before,
.btn.btn-primary:hover::before,
.btn.btn-primary:focus::before {
  border-color: #3E001B;
} */

#mainNav {
  transition: padding-top .3s, padding-bottom .3s, background-color .3s;
  background-color: rgba(62,0,27,0);
}
#mainNav.navbar-shrink {
  background-color: rgba(62,0,27,1);
}

#mainNav .navbar-brand,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand.active,
#mainNav .navbar-brand:focus {
  color: #fff;
  line-height: 24px;
  transition: color .3s, font-size .3s;
}

#mainNav .nav-link {
  transition: color .3s;
}

#mainNav .navbar-brand:hover,
#mainNav:not(.navbar-shrink) .navbar-nav .nav-item .nav-link:hover,
#mainNav:not(.navbar-shrink) .navbar-nav .nav-item .nav-link:active,
#mainNav:not(.navbar-shrink) .navbar-nav .nav-item .nav-link.active,
#mainNav:not(.navbar-shrink) .navbar-nav .nav-item .nav-link:focus {
  color: #3E001B;
}
#mainNav.navbar-shrink .navbar-brand:hover,
#mainNav.navbar-shrink .nav-link:hover,
#mainNav.navbar-shrink .nav-link:active,
#mainNav.navbar-shrink .nav-link:focus {
  color: #940946;
}

#mainNav .navbar-toggler,
#mainNav.navbar-shrink .navbar-toggler[aria-expanded='true'],
#mainNav.navbar-shrink .navbar-toggler:hover,
#mainNav.navbar-shrink .navbar-toggler:active,
#mainNav.navbar-shrink .navbar-toggler:focus {
  background-color: #940946;
  transition: background-color .3s;
}
#mainNav.navbar-shrink .navbar-toggler[aria-expanded="false"],
#mainNav:not(.navbar-shrink) .navbar-toggler:hover,
#mainNav:not(.navbar-shrink) .navbar-toggler:active,
#mainNav:not(.navbar-shrink) .navbar-toggler:focus {
  background-color: #3E001B;
}
@media (max-width: 991px) {
  #mainNav, #mainNav .navbar-toggler {
    background-color: #3E001B;
  }
  #mainNav .navbar-brand:hover,
  #mainNav .nav-link:hover,
  #mainNav .nav-link:active,
  #mainNav .nav-link:focus {
    color: #940946;
  }
  #mainNav.navbar-shrink .navbar-toggler[aria-expanded="true"],
  #mainNav:not(.navbar-shrink) .navbar-toggler:hover,
  #mainNav:not(.navbar-shrink) .navbar-toggler:active,
  #mainNav:not(.navbar-shrink) .navbar-toggler:focus {
    background-color: #940946;
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 16px;
    padding-bottom: 8px;
  }
}

nav svg.menu-icon {
  fill: #fff;
}

header.masthead {
  background-image: none;
  background-color: #940946;
  height: 100vh;
  padding-top: 66px;
}
header.masthead .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
header.masthead .intro-text {
  display: flex;
  flex-direction: column;
  padding: 0;
}
header.masthead .intro-text .intro-heading {
  font-size: 40px;
  margin-bottom: 25px;
}
.intro-text .skills .skill:not(:last-of-type)::after {
  content: ' | ';
  color: #3E001B;
}
.intro-text .headshot img {
  border-radius: 50%;
  height: 250px;
  margin-top: 50px;
  /* border-width: 8px;
  border-style: solid;
  border-color: #3E001B;
  transition: border-color .6s; */
  /* box-shadow: 0px 0px 16px 2px rgba(88, 0, 39, 1);
  transition: box-shadow .6s;
}
#mainNav.navbar-shrink + .masthead .headshot img {
  box-shadow: 0px 0px 8px 4px rgba(88, 0, 39, 0); */
  /* border-color: #940946; */
}

.text-muted {
  color: #DB9FBA !important;
}

.container {
  z-index: 2;
  position: relative;
}
.page-section.video-section {
  display: flex;
  align-items: center;
  height: 80vh;
  color: #fff;
  overflow: hidden;
}
#sentienceinstitute, .video-background {
  position: relative;
}
.screen, .video-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.screen {
  z-index: 1;
  background-color: #000;
  opacity: .75;
}
.video-background {
  background-size: cover;
  background-position-x: 10%;
  background-position-y: top;
}
.video-background video {
  z-index: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.page-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-section-content a {
  color: #fff;
}
.page-section-content h2.section-heading {
  margin-bottom: 20px !important;
  max-width: 100%;
  word-break: break-word;
}
.page-section-content a:hover {
  text-decoration: none;
}
.page-section-content .github-link {
  padding: 10px 20px;
}

.page-section h2, .page-section h4 {
  color: #940946;
}
#sentienceinstitute .section-subheading, #google .section-subheading {
  margin-bottom: 25px;
}
#sentienceinstitute .section-subheading {
  text-align: left;
  margin-bottom: 0;
}
#sentienceinstitute .page-section-description .section-subheading span:not(:first-of-type) {
  display: block;
  margin-top: 5px;
}

.in-text-icon {
  height: 1em;
}

.hover-text {
  cursor: pointer;
  color: unset;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #DB9FBA;
}
.hover-text:hover {
  text-decoration: none;
}
#google .wink-icon svg {
  color: #940946;
  height: 16px;
  width: 16px;
}

section.bg-light {
  background-color: #e9ecef !important;
}

#portfolio .portfolio-item .portfolio-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.portfolio-link .gif-container {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.portfolio-link-image {
  height: 100%;
}
.portfolio-link .btn {
  margin-top: 25px;
  margin-bottom: 15px;
}
.portfolio-link .btn h4 {
  color: #fff;
  margin-bottom: 0;
}

#resume .btn {
  margin-top: 25px;
  margin-bottom: 50px;
}

section#contact {
  position: relative
}
section#contact::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('../img/speaking.jpeg');
  background-size: cover;
  background-position: center;
}
#contact .container {
  position: relative;
}
#contact .section-heading {
  margin-bottom: 25px;
}
#contact .form-control {
  background-color: rgba(255,255,255,.75);
  color: #3E001B;
}

.timeline>li {
  min-height: unset;
  margin-bottom: 25px;
}
.timeline .timeline-heading {
  word-break: break-word;
}
.timeline .timeline-heading h4 {
  color: #3E001B;
}
.timeline>li .timeline-image {
  width: 20px;
  height: 20px;
  box-sizing: content-box;
  margin: 0;
  transform: translateX(24px);
}
.timeline>li .timeline-heading h4 {
  /* color: #DB9FBA; */
  color: #940946;
}
.timeline-heading h3 {
  color: #3E001B;
}
.timeline .timeline-education .timeline-image {
  background-color: #DB9FBA;
}
.timeline .timeline-education h3,
.timeline .timeline-education h4.subheading {
  color: #DB9FBA;
}
ul.timeline li:last-of-type .timeline-image {
  background-color: #fff;
}

#contact .form-control::placeholder {
  color: #3E001B;
  font-weight: 400;
}

footer ul.social-buttons li a {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #fff !important;
}
footer ul.social-buttons svg {
  transition: color .3s;
  color: #940946;
  height: 100%;
}
footer ul.social-buttons li a:hover svg,
footer ul.social-buttons li a:active svg,
footer ul.social-buttons li a:focus svg {
  color: #3E001B;
  cursor: pointer;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding: 0 !important;
  }
  header.masthead .intro-text .intro-heading {
    padding: 0 !important;
  }
  .timeline>li {
    margin-bottom: 0px;
  }
  .timeline>li .timeline-image {
    transform: translateX(-50%);
  }
  ul.timeline li:nth-last-of-type(2) .timeline-panel {
    padding: 0 100px 0 20px;
  }
  footer ul.social-buttons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  header.masthead .intro-text .intro-heading {
    margin-bottom: 15px;
  }
}
@media (max-width:600px), (max-height:600px) {
  header.masthead .intro-text .intro-heading,
  .page-section h2.section-heading {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .intro-text .headshot img {
    height: 200px;
    margin-top: 25px;
  }
}
@media (max-height:450px) {
  .intro-text .headshot img {
    height: 0px;
  }
}
