* {
  font-family: 'Raleway', sans-serif;
}

#content {
  position: fixed;
  /*is there a white space on the right side?*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f4f8fc;
}

#container::after, #main-container::after {
  content: "";
  clear: both;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 150px), -50%);
}

#main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main {
  height: 500px;
  width: 500px;
  overflow: hidden;
  background-color: black;
  border-radius: 500px;
  /*use a gradient border? make it rotate!*/
  border: 10px solid #128BFF;
}

#main img, #main video {
  height: 100%;
  width: 100%;
  /*match main!*/
  border-radius: 500px;
  overflow: hidden;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

#external-link {
  z-index: -1;
  width: 520px;
  position: absolute;
  left: 75px;
  transform: translateY(calc(-50% + 300px));
  -webkit-transform: translateY(calc(-50% + 300px));

  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

@-webkit-keyframes slideIn {
  0% {
    top: calc(50% - 200px);
  }
  100% {
    top: 50%;
  }
}

@keyframes slideIn {
  0% {
    top: calc(50% - 200px);
  }
  100% {
    top: 50%;
  }
}

#external-link a {
  margin: 0 auto;
}

#external-link img {
  height: 12px;
  width: 12px;
  margin-left: 10px;
}

#buttons {
  position: absolute;
  /*make it size per the #main size!!*/
  left: calc(250px + 50px);
  transform: translateY(-50%);
}

#buttons button, #buttons a, #external-link a {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 9px;
  text-align: center;
  font-size: 16px;

  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

#buttons button {
  width: 250px;
  height: 40px;
  /*slight gradient!*/
  background: #006CD4;
  border: none;
  border-radius: 4px;
  color: #f4f8fc;
}

#buttons a, #external-link a {
  cursor: default;
  text-decoration: none;
  width: 228px;
  height: 18px;
  background: #f4f8fc;
  border: 2px solid #006CD4;
  border-radius: 4px;
  color: #006CD4;
}

#buttons button:hover, #buttons button.active {
  background-color: #01386D;
}

#buttons a:hover, #buttons a:active,
#external-link a:hover, #external-link a:active {
  border: 2px solid #01386D;
  color: #01386D;
}
