* {
  font-family: 'Raleway', sans-serif;
  cursor: default;
}

body {
  width: 100%;
  height: 100%;
  zoom: 1;
}

#welcome .text-page-container {
  width: 100%;
  padding-bottom: 80px;
}

h1 {
  font-size: 40px;
  color: black;
}

h2 {
  font-size: 30px !important;
}

.sf {
  font-size: 18.4px;
  margin: 10px;
  color: #002372;
}

.skills-banner {
  font-size: 14px;
  background: black;
  position: absolute;
  padding: 5px;
  padding-left: 75px;
  padding-right: 70px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.skills-banner.p {
  bottom: 0;
  transform: rotate(-10deg) translateY(calc(-100% - 200px));
}

.skills-banner.d {
  bottom: 0;
  transform: rotate(-10deg) translateY(calc(-100% - 150px));
}

.skill-title {
  float: left;
  font-weight: 600;
  letter-spacing: .5px;
  color: white;
  margin-right: 20px;
}

.skills {
  float: left;
  color: white;
}

.skill {
  font-weight: 300;
  float: left;
}

.bar {
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  font-weight: 600;
  color: #002372;
}

button:focus {
  outline:0;
}

a {
  text-decoration: none;
}

.video-background {
  z-index: -1;
  height: 100%;
  width: 100%;
  background: black;
  text-align: center;
  position: relative;
}

video {
  z-index: 0;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.screen {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.8);
}

.inner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
}

.text-page-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: #002372;
}

button, a, a:active {
  display: block;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid white;
  background: rgba(0,0,0,.5);
  color: white;

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

button {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 30px;
  width: 280px;
  height: 70px;
}

button:hover, a:hover {
  color: black;
  background: white;
}

a.github {
  display: inline-block;
  cursor: default;
  padding-top: 6px;
  padding-left: 9px;
  padding-right: 9px;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  height: 24px;
}

.title {
  font-size: 20px;
  margin: 20px;
}

.subtitle {
  display: inline-block;
  font-weight: 600;
  letter-spacing: .5px;
}

.description {
  padding: 0;
  display: block;
  text-align: left;
  color: white;
  font-weight: 300;
  font-size: 14px;
}

.description li {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 300;
}
