* {
  font-family: 'Raleway', sans-serif;
}

#content {
  position: fixed;
  /*is there a white space on the right side?*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f4f8fc;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 150px), -50%);
}

#container::after, #buttons-container::after {
  content: "";
  clear: both;
}

#main {
  float: left;
  height: 500px;
  width: 500px;
  border-radius: 500px;
  /*use a gradient border? make it rotate!*/
  border: 10px solid #128BFF;
}

#main img {
  height: 100%;
  width: 100%;
  /*match main!*/
  border-radius: 500px;
  overflow: hidden;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

#buttons {
  position: absolute;
  padding-left: 100px;
  top: 50%;
  /*make it size per the #main size!!*/
  transform: translate(500px, -50%);
}

#buttons button, #buttons a {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

#buttons button {
  display: block;
  width: 250px;
  height: 40px;
  margin: 15px;
  padding: 9px;
  font-size: 16px;
  text-align: center;
  border: none;
  /*slight gradient!*/
  background: #006CD4;
  color: #f4f8fc;
  border-radius: 4px;
}

#buttons a {
  cursor: default;
  display: block;
  width: 228px;
  height: 18px;
  margin: 15px;
  padding: 9px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #006CD4;
  background: #f4f8fc;
  color: #006CD4;
  border-radius: 4px;
}

#buttons button:hover {
  background-color: #01386D;
}

#buttons a:hover {
  border: 2px solid #01386D;
  color: #01386D;
}
