* {
  font-family: 'Raleway', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  zoom: 1;
}

#welcome .text-page-container {
  width: 100%;
  padding-bottom: 80px;
}

h1 {
  font-size: 40px;
  color: black;
}

h2 {
  font-size: 30px !important;
}

.subtitle.personal {
  margin-bottom: 20px;
  font-size: 18.4px;
  font-weight: 300;
  color: #BAC7E5;
  background-color: #303E5D;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.sf {
  font-size: 18.4px;
  margin: 10px;
  color: #303E5D;
}

.skills-banner {
  font-size: 14px;
  background: black;
  position: absolute;
  padding: 5px;
  padding-left: 75px;
  padding-right: 175px;
}

.skill-title {
  float: left;
  font-weight: 600;
  color: white;
  margin-right: 20px;
}

.skills {
  float: left;
  color: white;
  text
}

.skill {
  font-weight: 300;
  float: left;
}

.bar {
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  font-weight: 600;
  color: #303E5D;
}

button:focus {
  outline:0;
}

a {
  text-decoration: none;
}

.video-background {
  z-index: -1;
  height: 100%;
  width: 100%;
  background: black;
  text-align: center;
  position: relative;
}

video {
  z-index: 0;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.screen {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.7);
}

.inner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: white;
}

.text-page-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: #030C21;
}

button, a {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;

  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

button {
  padding: 9px;
  font-weight: 400;
  color: #030C21;
  width: 250px;
  height: 40px;
  background: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  color: white;
  background: #030C21;
}

a {
  padding-top: 3px;
  padding-left: 6px;
  padding-right: 6px;
  font-weight: 600;
  font-size: 12px;
  cursor: default;
  text-decoration: none;
  height: 18px;
  background: #BAC7E5;
  border-radius: 4px;
  color: #030C21;
}

a:hover {
  background: #030C21;
}

.sub-container {
  width: 100%;
  overflow: auto;
  text-align: center;
  margin: 20px;
}

.sub-container:after {
  content: "";
  clear: both;
}

a.github {
  margin-left: 20px;
  display: inline-block;
}

.title {
  font-size: 20px;
  margin: 20px;
}

.subtitle {
  display: inline-block;
}

.description {
  display: block;
}
