* {
  font-family: 'Raleway', sans-serif;
  cursor: default;

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body {
  height: 100%;
  width: 100%;
  zoom: 1;
}

button:focus {
  outline:0;
}

#welcome .text-page-container {
  width: 100%;
  padding-bottom: 80px;
  text-align: center;
}

h1 {
  font-size: 40px;
  color: #010101;
}

h2 {
  font-size: 30px !important;
}

.sf {
  font-size: 18.4px;
  margin: 10px;
  color: #5E5E5E;
}

.skills-banners {
  font-size: 16px;
  position: absolute;
  bottom: 0;
  -webkit-transform: rotate(-10deg) translate(-40px,-200px);
  transform: rotate(-10deg) translate(-40px,-200px);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.skills-banner {
  padding: 5px;
  padding-left: 150px;
  padding-right: 100px;
  background: #010101;
  margin-top: 10px;
  overflow: auto;
}

.skills-banner:after {
  content: "";
  clear: both;
}

.skill-title {
  float: left;
  font-weight: 600;
  letter-spacing: .5px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}

.skills {
  float: left;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.skill {
  font-weight: 300;
  float: left;
  margin-right: 20px;
}

#arrow-container {
  width: 100%;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
}

#arrow-container img {
  height: 20px;
}

.video-background {
  z-index: -1;
  height: 100%;
  width: 100%;
  background: black;
  text-align: center;
  position: relative;
}

video, .video-background img {
  z-index: 0;
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.screen {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.8);
}

.inner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
}

a, a:active {
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid white;
  background: rgba(0,0,0,.5);
  color: white;
}

.main-link {
  margin-bottom: 20px;
  padding: 10px;
  padding-top: 15px;
  font-size: 30px;
  width: 280px;
  height: 40px;
}

.main-link:hover {
  font-size: 30px;
}

a:hover {
  color: #010101;
  background: white;
}

a.github {
  display: inline-block;
  cursor: default;
  padding-top: 6px;
  padding-left: 9px;
  padding-right: 9px;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  height: 24px;
}

.subtitle {
  display: inline-block;
  font-weight: 600;
  letter-spacing: .5px;
}

.description {
  padding: 0;
  display: block;
  text-align: left;
  color: white;
  font-weight: 300;
  font-size: 14px;
}

.description li {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 300;
}

.text-page-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: left;
  color: #5E5E5E;
}

.item {
  margin-top: 40px;
  margin-bottom: 40px;
}

.text-page-container .description li {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #5E5E5E;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #010101;
}

.place {
  float:left;
  font-weight: 600;
}

.date {
  float: right;
  font-weight: 600;
}

#education .title {
  margin: 0;
  float: left;
}

#education .date {
  float: right;
  font-weight: 600;
  height: 24px;
  padding-top: 4px;
}

#contact .text-page-container {
  text-align: center;
}

#email {
  display: block;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  background: none;
  color: #5E5E5E;
  margin-bottom: 20px;
  padding: 10px;
  width: 280px;
  height: 20px;
}

#email:hover {
  background: #5E5E5E;
  color: white;
}

#contact a:not(#email) {
  background: none;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  /*display: inline-block;*/
}

/*#contact a#ea {
  display: block;
}*/

#contact a img {
  height: 60px;
}

#contact a:hover img {
  border: none;
}

#phone {
  font-size: 16px;
  margin-bottom: 20px;
}
