* {
  font-family: 'Raleway', sans-serif;
}

button:focus {
  outline:0;
}

#content {
  position: fixed;
  /*is there a white space on the right side?*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
}

#container::after, #main-container::after {
  content: "";
  clear: both;
}

#container {
  margin: auto;
  position: absolute;
  top: 0;
  left: 10%;
  bottom: 0;
  right: 10%;
}

#main-container {
  display: inline-block;
  position: relative;
  width: 49%;
  height: 100%;
}

#main {
  overflow: hidden;
  background-color: black;
  border-radius: 1000px;
  /*use a gradient border? make it rotate!*/
  border: 10px solid #006CD4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main img, #main video {
  height: 100%;
  width: 100%;
  /*match main!*/
  border-radius: 500px;
  overflow: hidden;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

/*#external-link {
  margin-top: 35px;
  z-index: -1;
  width: 100%;
  position: absolute;
  /*transform: translateY(calc(-50% + 300px));*/
  /*-webkit-transform: translateY(calc(-50% + 300px));*/
}*/

.slideIn {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

@-webkit-keyframes slideIn {
  0% {
    top: calc(100% - 300px);
  }
  100% {
    top: 100%;
  }
}

@keyframes slideIn {
  0% {
    top: calc(100% - 300px);
  }
  100% {
    top: 100%;
  }
}

/*#external-link a {
  margin: 0 auto;
}

#external-link img {
  height: 12px;
  width: 12px;
  margin-left: 10px;
}*/

#buttons {
  display: inline-block;
  /* margin-left: 50px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#buttons button, #buttons a:not(.external-link), #resume-button, #main-button {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 9px;
  text-align: center;
  font-size: 16px;

  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

#resume-button, #main-button {
  font-weight: 300;
  color: white !important;
}

#buttons button:not(#resume-button) {
  font-weight: 400;
  width: 250px;
  height: 40px;
  background: white;
  border: none;
  border-radius: 4px;
  color: #3D5872;
}

.external-link {
  z-index: -1;
  position: absolute;
  height: 22px;
  width: 50px;
  background: none;
  border: none;
  top: 50%;
  transform: translateY(-50%);

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.external-link img {
  height: 100%;
}

#buttons a:not(.external-link) {
  font-weight: 300;
  cursor: default;
  text-decoration: none;
  width: 228px;
  height: 18px;
  background: #3D5872;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
}

#buttons button:not(#resume-button):hover, #buttons button.active {
  background-color: #3D5872;
  color: white;
  font-weight: 300;
}

#resume-button, #main-button {
  font-weight: 300;
  width: 250px;
  height: 40px;
  background: none;
  border: none;
  color: white;
}

#main-button {
  margin: 0 auto;
}

#resume-button:hover, #main-button:hover {
  color: #3D5872 !important;
  font-weight: 400;
}

/* color border and arrow too! */

#buttons a:not(.external-link):hover {
  color: #3D5872;
  border: 2px solid #3D5872;
  background: white;
}

.relative-container {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.relative-container.buttons {
  width: 40%;
  /*margin-left: 50px;*/
}

.content-inner {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.content-inner.resume {
  height: 100%;
  width: 100%;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.content-inner.main {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideOut {
  0% {
    left: 100%;
  }
  100% {
    left: 80%;
  }
}

@keyframes slideOut {
  0% {
    left: 100%;
  }
  100% {
    left: 80%;
  }
}

.slideOut {
  -webkit-animation-name: slideOut;
  animation-name: slideOut;
}

@-webkit-keyframes slideIn {
  0% {
    left: 80%;
  }
  100% {
    left: 100%;
  }
}

@keyframes slideIn {
  0% {
    left: 80%;
  }
  100% {
    left: 100%;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

@-webkit-keyframes slideScreenUpIn {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}

@keyframes slideScreenUpIn {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}

.slideScreenUpIn {
  -webkit-animation-name: slideScreenUpIn;
  animation-name: slideScreenUpIn;
}

@-webkit-keyframes slideScreenUpOut {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}

@keyframes slideScreenUpOut {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}

.slideScreenUpOut {
  -webkit-animation-name: slideScreenUpOut;
  animation-name: slideScreenUpOut;
}


@-webkit-keyframes slideScreenDownIn {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}

@keyframes slideScreenDownIn {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}

.slideScreenDownIn {
  -webkit-animation-name: slideScreenDownIn;
  animation-name: slideScreenDownIn;
}

@-webkit-keyframes slideScreenDownOut {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

@keyframes slideScreenDownOut {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

.slideScreenDownOut {
  -webkit-animation-name: slideScreenDownOut;
  animation-name: slideScreenDownOut;
}







#resume {
  height: 100%;
  width: 100%;
  overflow: scroll;
  padding-top: 41px;
}

#resume-content {
  width: calc(100% - 100px);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 80px;
  overflow: scroll;
  font-size: 14px;
  line-height: 1.25;
  color: white;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}






.screen {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.7);

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

#video-background {
  z-index: -2;
  z-index: -2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#video-background video {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
